<ul class="list-unstyled">
    <li><a href="https://twitter.com/mark__burton"><i class="fa fa-twitter"></i> Twitter (mark__burton)</a></li>
    <li><a href="https://github.com/MarkZither"><i class="fa fa-github"></i> GitHub (MarkZither)</a></li>
    <li><a href="http://stackoverflow.com/users/7400768/mark-burton"><i class="fa fa-stack-overflow"></i> Stack Overflow (mark-burton)</a></li>
    <li><a href="https://www.linkedin.com/in/mark-burton-3100074"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
</ul>