Title: Warken Beer Festival 2023
---
<h2>Warken Beer Festival</h2>
<h3>The Beers</h3>

<h4>Thornbridge Brewery</h4>
<h5>Nine Two Seven</h5>
https://untappd.com/b/thornbridge-brewery-nine-two-seven/5282622
https://thornbridgebrewery.co.uk/products/nine-two-seven-english-hopped-hazy-ipa-5-5

<h5>Kipling</h5>
https://untappd.com/b/thornbridge-brewery-kipling/12268
https://thornbridgebrewery.co.uk/products/kipling-5-2-south-pacific-pale-ale-1

<h5>Chiron</h5>
https://untappd.com/b/thornbridge-brewery-chiron/47804
https://thornbridgebrewery.co.uk/products/chiron-5-0-american-pale-6x440ml-cans

<h5>Quiet Storm - Harlequin </h5>
https://untappd.com/b/thornbridge-brewery-quiet-storm-harlequin/5209344
https://thornbridgebrewery.co.uk/products/quiet-storm-harlequin-5-5-single-hopped-pale-ale

<h5>Quiet Storm - Hallertau Blanc</h5>
https://untappd.com/b/thornbridge-brewery-kipling/12268
https://thornbridgebrewery.co.uk/products/quiet-storm-hallertau-blanc-5-5-single-hopped-pale-ale

<h5>DDH Jaipur</h5>
https://untappd.com/b/thornbridge-brewery-ddh-jaipur/3986951
https://thornbridgebrewery.co.uk/products/ddh-jaipur-bottle-5-9-ddh-ipa-440ml-can

<h5>BBA Bracia</h5>
Bourbon Barrel Aged Bracia
https://untappd.com/b/thornbridge-brewery-bracia-bourbon-barrel-aged/4930524
https://thornbridgebrewery.co.uk/products/bracia-12-abv-bourbon-barrel-aged-rich-dark-ale

<h5>Days of Creation</h5>
https://untappd.com/b/thornbridge-brewery-days-of-creation/1530208
https://thornbridgebrewery.co.uk/products/days-of-creation-7-barrel-aged-sour-with-raspberries-375ml-bottle

<h4>Brew By Numbers</h4>
<h5>05</h5>
https://untappd.com/b/brew-by-numbers-05-india-pale-ale-strata-and-talus/4017561
https://www.morningadvertiser.co.uk/Article/2023/06/16/what-has-happened-to-brew-by-numbers

<h4>BrewDog</h4>
<h5>Silk Road</h5>
https://untappd.com/b/brewdog-silk-road/4265853
https://www.brewdog.com/uk/silk-road-1-can

<h4>Mount Saint Bernard Abbey</h4>
<h5>Tynt Meadow</h5>
https://untp.beer/azXm
https://untappd.com/b/mount-saint-bernard-abbey-tynt-meadow/2718730

<h4>Eyam Brewery</h4>
<h5>All Fall Down</h5>
https://untappd.com/b/eyam-brewery-all-fall-down/2543390
https://eyambrewery.com/product/all-fall-down-12x-500ml-bottle-case/

<h4>Matlock Wolds Farm</h4>
<h5>Riber Gold</h5>
https://untappd.com/b/matlock-wolds-farm-riber-gold/1163223
https://woldsfarm.co.uk/product/riber-gold

<h4><a href="https://towerbrewery.co.uk/">Tower Brewery</a></h4>
<h5>Burton Strong Ale</h5>
https://untappd.com/b/tower-brewery-burton-strong-ale/2081275
https://eyambrewery.com/product/all-fall-down-12x-500ml-bottle-case/

<h4>Derby Brewing</h4>
<h5>Hop Till You Drop</h5>
https://untappd.com/b/derby-brewing-company-hop-till-you-drop/2228976
https://www.derbybrewing.co.uk/shop/htyd-bottle


<h3>The Cheeses</h3>
Well somebody already ate them all.