ul.share-buttons {
    list-style: none;
    padding: 0;
}

ul.share-buttons li {
    display: inline;
}

ul.share-buttons .sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.serviceworker .serviceworker-warning {
    display: none;
}

.no-serviceworker .serviceworker-warning {
    color: red;
}

$font-stack: Helvetica, sans-serif;

.answer {
    font: 2.5rem $font-stack;
}

.blur {
    filter: blur(9px);
    -webkit-filter: blur(9px);
}

.text-blur {
    font-size: 1.3rem;
    filter: blur(3px);
        -webkit-filter: blur(3px);
  }

.text-blur2 {
    font-size: 1.3rem;
    filter: blur(3px);
        -webkit-filter: blur(3px);
  }